body {
    margin: 0px;
}

h1,h2,h3 {
	line-height:1.2
}

.flex-container {
    display: flex;
    background-color: red;
    min-height: 100%;
}

.figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    flex: 1;
    background-color:grey;
}

.content {
    max-width:650px;
    margin:auto;
	padding:10px;
	font:"Segoe UI"
}