body {
    margin: 0px;
    display: flex;
}

h1,h2,h3 {
	line-height:1.2
}

.figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    flex: 0 0 12em;
    order: -1; /* Specify the placement of the sidebar to the left (-1) or to the right (1) */
    background-color:grey;
}

.content {
    max-width:650px;
    margin:auto;
	padding:10px;
	font:"Segoe UI"
}